.Rproj.user
.Rhistory
.RData
.Ruserdata
findEqNarrow/AllStatsAndPlots/ResultsFiles/relativeCatches/relativeCatches-stats*
findEqNarrow/AllStatsAndPlots/ResultsFiles/relativeDensities/relativeDensity-stats-*
findEqNarrow/AllStatsAndPlots/ResultsFiles/relativeGrowthRates/relativeGR-stats-*
